body{
    margin: 0;
    padding: 0;
    background: url("image/sea.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 670px;
    width:100%;
    background-position: center;
    font-family: sans-serif;  
}
.login-box{
    background-color: black;
    color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 400px;
    box-sizing: border-box;
    padding: 45px 15px;
}

.aveter-png{
    height:100px;
    width: 100px;
    border-radius: 50px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin-top: 15px;
    padding: 0 0 20px;
    font-size: 22px;
    text-align: center;

}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input{
    border-width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"] , input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    color: #fff;
    font-size: 18px;
}

.login-box input[type="submit"]{
    border: none;
    color: white;
    background-color: tomato;
    height: 30px;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
}

.login-box input[type="submit"]:hover{
    cursor:pointer;
    background-color: #ff47c2;
    color:black;
}

.login-box a{
    text-decoration: none;
    color: gray;
    line-height: 25px;
    display: block;
}
.login-box a:hover{
    color:wheat;
}




















